<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" preserve-order="true" thread-count="2">
   <!--  
  <test name="Smoke: Connection">
  	<classes>
  	    <class name="start.singleTest">
  	        <methods>
  	            <include name="connectRobot"/>
  	            <include name="firmwareUpdate"/>
  	            <include name="disconnectRobot"/>
  	        </methods>
  	    </class>
  	</classes>
  </test>
  -->
  
  <test name="Smoke: Signed in features">    
    <parameter name="port" value="4733"/>
    <classes>
      <class name="start.Testscript">
      	<methods>
      	<include name="signIn"/>
      	<include name="createProgram"/>
      	<include name="editMyProgram"/>
      	<include name="copyMyProgram"/>
      	<include name="deleteMyProgramSignIn"/>
      	<include name="copySampleProgram"/>
      	<include name="viewSampleProgram"/>
      	<include name="copyExploreProgram"/>
      	<include name="viewExploreProgram"/>
      	<include name="postMedia"/>
      	<include name="signOut"/>
      	<include name="scrollToBottomToTop"/>
      	<include name="signInClever"/>
      	<include name="signOutNoDelete"/>
      	<include name="invalidSignInClever"/>
      	<include name="invalidSignIn"/>
      	</methods>
      	
      </class>
    </classes>
  </test> 
  
  <test name="Smoke: Signed out">
	<parameter name="port" value="4723"/>
	<parameter name = "date" value="Feb 18"/>
  	<classes>
  	    <class name="start.Testscript">
  	        <methods>
  	            <include name="signOutNoDelete"/>
  	            <include name="scrollExplore"/>
  	            <include name="scrollTwitter"/>
  	            <include name="createProgram"/>
  	            <include name="deleteRenameProgramSignedOut"/>
  	            <include name="copySampleProgram"/>
  	            <include name="viewSampleProgram"/>
  	            <include name="deleteAllProgramsSignedOut" />
  	            <include name="userGates"/>
  	            <include name="viewMedia"/>
  	            <include name="pocketNav"/>
  	            <include name="gesturePocketNav"/>
  	        </methods>
  	    </class>
  	</classes>
  </test>
<!--  
<test name="Unit Test">    

    <classes>
      <class name="start.Testcript">
      	<methods>
      		<include name="scrollToBottomToTop"/>
      	</methods>
      </class>
    </classes>
    
</test> 
-->

</suite> <!-- Suite -->
